########################################################################
# VSCode
########################################################################
.vscode/

########################################################################
# Streamlit
########################################################################
.streamlit/
lib/streamlit/static
streamlit-storage

########################################################################
# venv
########################################################################
.venv/

########################################################################
# cache
########################################################################
__pycache__